/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core root defaults */
html {
  line-height: 1.5;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  margin: 0;
}

/* Update default margin */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ul,
ol,
dl,
dd {
  margin: 0 0 1.5rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration-skip-ink: auto;
  color: #36BF7F;
  /* ---------- prof comment ----------
  
  you should have updated the base anchor styles!
  
  ---------- end prof comment ---------- */
}

a:hover,
a:focus-visible {
  color: #D96666;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------- Containers ---------- */

.container {
  width: min(65em, 100%);
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--text {
  width: min(45em, 100%);
}






/* --------- Styles begin --------- */

/* ---------- prof comment ----------

:root should be the first thing at the top
of the CSS file as you need these styles in
the CSS Reset

---------- end prof comment ---------- */
:root {

/* Colors */
  --color-primary: #1763A6;
  --color-primary--light: #59B5D9;
  --color-primary--medium: #2D6DA6;
  --color-primary--dark: #04328C;
  --color-blue--light: #D8EBF2;
  --color-white: #fff;
  --color-black: #000;

  /* Fonts */
  --font-primary: sans-serif;
  --font-secondary: "Noto Sans", sans-serif; 
  --font-thirdly: "Noto Serif", serif;


  /* Measurements */
  --height: 75vh;
  --vAlign: center;
  --hAlign: flex-start;
}


/* --------- Navbar --------- */

.navbar {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-top: 0.50rem solid var(--color-primary--light);
  font-family: var(--font-primary);
}

.navbar .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 1.5rem;
}

.navbar__headline {
  line-height: 1.3rem;
  margin: 0rem;
}

.navbar__logo {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  color: var(--color-white);
  text-decoration: none;
}

.navbar__icon {
  width: 10rem;
}

.navbar__icon:hover, 
.navbar__icon:focus {
  transform: translateY(-0.15rem);
  transition: 0.3s;
}

.navbar__nav {
  width: 100%;
}

.navbar__list {
  padding: 0rem;
  margin: 0rem;
  list-style: none;
}

.navbar__link {
  color: var(--color-white);
  text-decoration: none;
  display: block;
  text-align:center;
  padding: 0.75rem 1.5rem;
}

.navbar__link:hover,
.navbar__link:focus {
  background: var(--color-primary--light);
  color: var(--color-white);
}


@media only screen and (min-width: 45em) {

  .navbar .container {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .navbar__nav {
    width: auto ;
  }

  .navbar__list {
    display: flex;
  }

  .navbar__link {
  padding: 1.5rem;
  }
}



/* Banner */


.btn {
  display: inline-block;
  padding: .55em 1.5em .5em;
  background-color: var(--color-primary--light);
  border: 0.125rem solid var(--color-primary--light);
  color: var(--color-white);
  border-radius: .25em;
  text-decoration: none;
  cursor: pointer;
  font-family: var(--font-primary);
  font-size: inherit;
}

.btn:hover,
.btn:focus-visible {
  background-color: var(--color-primary--medium);
  border-color: var(--color-primary--medium);
  color: var(--color-white);
}

.btn--secondary {
  background-color: var(--color-primary--light);
  border-color: var(--color-primary--light);
  color: var(--color-white);
}

.btn--secondary:hover,
.btn--secondary:focus-visible {
  background-color: var(--color-primary--medium);
  border-color: var(--color-primary--medium);
  color: var(--color-white);
}

.btn--large {
    font-size: 1.150rem;
}

.banner {
  --height: 75vh;
  --vAlign: center;
  --hAlign: flex-start;
  background-image: 
  linear-gradient(to bottom, #0009, #0010),
  url('../images/hero-banner.jpg');
  background-position: center;
  background-size: cover;
}

.banner .container {
  display: flex;
  min-height: var(--height);
  align-items: var(--vAlign);
  justify-content: var(--hAlign);
  padding: 3rem 1.5rem;
}

.banner__content {
  width: min(35em, 100%);
}

.banner__title {
  font-size: 1.756rem;
  text-shadow: .1rem .1rem var(--color-black);
  line-height: 1.3;
  color: #84daf9;
}

.banner__text {
  font-size: 1.150rem;
  color: var(--color-white);
  display: flexbox;
  text-shadow: .1rem .1rem var(--color-black);
}



/* --------- card group content section --------- */


.cards {
  gap: 1rem;
  padding: 4rem;
  align-items: center;
  background-color: var(--color-blue--light);
  font-family: var(--font-primary);
}

.card-group {
  display: grid;
  justify-content: center;
  padding: 0rem;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1.5rem;
}  

.card{
  display: block;
  box-shadow: 0 0.25rem 0.75rem #0004;
  background-color: var(--color-white);
  overflow: hidden;
  text-decoration: none;
  display: grid;
  width: 100%;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: 0.3s;
  container-type: inline-size ;
}

.card__img img {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.card__content {
  padding: 0.5rem ;
}

.card__img {
  aspect-ratio: 1.8 / 1.5;
  display: flex;
  background-color: var(--color-primary--light);
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}  

h2 {
  font-size: 1.602rem
}

.card__title {
  font-size: 1.266rem;
  color: var(--color-primary--medium);
  text-align: center;
  line-height: 2.4rem;
}

.card__text {
  color: var(--color-black);
  font-family: var(--font-thirdly);
  text-align: center;
}

.card:hover,
.card:focus-visible{
  box-shadow:  0 .25rem 1.75rem #0002;
  transform: translateY(-0.25rem);
}


/* --------- Recent Blog Posts --------- */


.card__title__post {
  font-size: 1.125rem;
  padding: 0.5rem ;
  line-height: 1.8rem;
}

@container (min-width: 35em) {

  .card {
    display: flex;
  }

  .card__img {
    flex: 1;
  }
  .card__content {
    flex: 2;
  }

  .card__content {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .card__title {
    font-size: 1.563rem;
  }

  .card__text {
    flex-grow: 1;
  }
}

@container (min-width: 40em) {
  .card__content {
    flex: 1;
  }
}

@media only screen and (min-width: 45em) {
  
  .card-group .container .container-cards {
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  h2 {
    font-size: 2.074rem;
  }
  
  .card__title {
    font-size: 1.728rem;
  }

  .card__title__post {
    font-size: 1.2rem;
  }
}


@media only screen and (min-width: 60em) {
  .card-group  .container .container-cards{
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
  
  h2 {
    font-size: 2.441rem;
  }

  .card__title {
    font-size: 1.953rem;
  }

  .card__title__post {
    font-size: 1.25rem;
    padding: 0.5rem ;
  }
}


/* --------- About --------- */

.image-content .container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: grid;
  gap: 3rem;
  align-items: center;
}

.image-content__image {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
}

.image-content__image img {
  object-fit:cover;
  border-radius: 1rem;}

.image-content__title {
  font-size: 1.756rem;
  line-height: 1.3;
  color: var(--color-primary);
  font-family: var(--font-primary);
}

.btn {
  display: inline-block;
  padding: .55em 1.5em .5em;
  background-color: var(--color-primary--light);
  border: 0.125rem solid var(--color-primary--light);
  color: var(--color-white);
  border-radius: .25em;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
}


@media only screen and (min-width: 45em) {

  .image-content .container {
    grid-template-columns: 1fr 2fr;
  }

  .image-content__title {
    font-size: 2.069rem;
  }
}

@media only screen and (min-width: 60em) {
  .image-content .container {
    grid-template-columns: 1fr 1fr;
  }

  .image-content__title {
    font-size: 2.444rem;
  }
}


/* Recent Blog Posts  */

.recent-blog-posts {
  background-color: var(--color-blue--light);
  font-family: var(--font-primary);
  padding: 1rem;
  align-items: center;
}



/* Footer  */

.footer {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-bottom: 0.50rem solid var(--color-primary--light);
}

.footer .container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer__logo {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  color: var(--color-white);
  text-decoration: none;
}

.footer__logo:hover, 
.footer__logo:focus {
  color: var(--color-primary--light);
}

.footer__icon {
  width: 10rem;
}

.footer__title {
  font-size: 1.525rem;
  font-weight: bold;
  line-height: 1.3;
}

.footer__list {
  padding-left: 1.5rem;
  margin: 0;
  border-left: 0.125rem solid var(--color-primary--light);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.footer__link {
  color: var(--color-white);
  text-decoration: none;
}

.footer__link:hover, 
.footer__link:focus {
  color: var(--color-primary--light);
}

.privacy__policy{
  list-style-type: none;
  line-height: 1.8rem;
  text-decoration: none;
  color: var(--color-white);
  padding: 0rem;
  padding-top: 1rem;
  font-weight:normal;
  font-size: .8rem;

.privacy__policy:hover, 
.privacy__policy:focus {
  color: var(--color-primary--light);
  }
}



@media only screen and (min-width: 45em) {

  .banner__title {
      font-size: 2.069rem;
  }

  .banner__text {
    font-size: 1.200rem;
  }

  .footer .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__logo {
  flex: 2 0;
  align-self: flex-start;
  }

  .footer__nav,
  .footer__copyright { 
    flex: 1 0;
  }
}


@media only screen and (min-width: 60em) {

  .banner__title {
    font-size: 2.444rem;
  }

  .banner__text,
  .bnt--large {
    font-size: 1.250rem;
  }
}


/*  To Top */

.to-top {
  position: fixed;
  bottom: -0.5rem;
  right: 1.5rem;
  background-color: var(--color-primary--light);
  color: var(--color-primary--dark);
  padding: 0.5rem 0.5rem 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  text-decoration: none;
}

.to-top.visible {
  translate: 0;
}

.to-top:hover,
.to-top:focus-visible {
  bottom: 0;
  color: var(--color-white);
  translate: 2;
}






/* --------- Blog --------- */

.banner__blog {
  background-image: 
  linear-gradient(to top, rgba(250, 250, 250, 0.094), #0009),
  url('../images/blog-image-adventurers.jpg');
  background-size: cover;
  background-position: bottom;
  height: 80vh;
  font-family: var(--font-primary);
}

.banner__title_blog{
  width: 55%;
  text-shadow: .1rem .1rem var(--color-black);
}


/* Article */

.article {
  display: grid;
  padding-top: 2rem;
  container-type: inline-size;
  gap: 2rem;
  font-family: var(--font-primary);
}

.call_out {
  padding: 0.6rem;
  background-color: var(--color-blue--light);
  border-radius: .4rem;
  margin-bottom: 1.5rem;
  container-type: inline-size;
  border-bottom: .8rem ridge var(--color-primary--light);
}

h2 {
  margin-top: 1rem;
  color: var(--color-primary--medium);
  margin-bottom: 1rem;
  border-image: linear-gradient(to right, var(--color-primary--light) 10%, transparent 50%)100% 1;
}

h3 {
  color: var(--color-primary--medium);
  margin: 0.4rem;
  margin-left: 0rem;
}

a {
  color: var(--color-primary);
  font-weight: bold;
}
a:hover {
  color: var(--color-primary--light);
}

.sidebar_container {
  padding-top: 0rem;
  background-color: var(--color-blue--light);
  border-radius: 0.3rem;
  container-type: inline-size;
  border: .1rem solid var(--color-primary) ;
  display: grid;
  container-name: outer;
  border-right: .8rem ridge var(--color-primary--light);
}

.sidebar__content {
  padding: .5rem;
  list-style-type: none;
  line-height: 1.4;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
  padding-left: 1.5rem;
}

.sidebar__title {
  color: var(--color-primary--dark);
  font-size: 1.5rem;
  text-align: center;
  padding-top: 0.7rem;
}

.topic-list {
  text-decoration: none;
  color: var(--color-primary);
  margin: 0rem;
}

.topic_writer {
  color: var(--color-black);
  padding-bottom: 0rem;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
  font-family: var(--font-thirdly)
}

h4 {
  margin-bottom: 0rem;
}

.topic-list:hover,
.topic-list:focus-visible {
  color: var(--color-primary--light)
}

.article-footer {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: var(--color-blue--light);
  margin-bottom: 1.5rem;
  container-type: inline-size;
  border-bottom: .8rem ridge var(--color-primary--light);
}


@media only screen and (min-width: 45em) {

  .article {
    grid-template-columns: 2fr 1fr;
  }
}

@media only screen and (min-width: 60em) {

  .article {
    grid-template-columns: 2fr 1fr;
  }

  .sidebar_container {
  position: sticky;

  top: 1rem;
  bottom: 1rem;
  }
}